[Desktop Entry]
Exec=knipptasch
Icon=knipptasch
Type=Application
X-DocPath=knipptasch/index.html
X-KDE-StartupNotify=true

Name=Knipptasch
Name[cs]=Knipptasch
Name[de]=Knipptasch
Name[es]=knipptasch
Name[ga]=Knipptasch
Name[km]=Knipptasch
Name[nds]=Knipptasch
Name[nl]=Knipptasch
Name[pl]=Knipptasch
Name[pt]=Knipptasch
Name[pt_BR]=Knipptasch
Name[sk]=Knipptasch
Name[sv]=Knipptasch
Name[uk]=Knipptasch
Name[x-test]=xxKnipptaschxx
GenericName=Personal Finance Manager
GenericName[cs]=Osobní správce financí
GenericName[de]=Persönliche Finanzenverwaltung
GenericName[es]=Gestor de finanzas personal
GenericName[ga]=Bainisteoir Airgeadais Phearsanta
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ហិរញ្ញវត្ថុ​ផ្ទាល់ខ្លួន
GenericName[nds]=Geldsaken plegen
GenericName[nl]=Persoonlijk financieel beheer
GenericName[pl]=Menadżer osobistych finansów
GenericName[pt]=Gestor de Finanças Pessoais
GenericName[pt_BR]=Gerenciador de finanças pessoais
GenericName[sk]=Osobný manažér financií
GenericName[sv]=Hemekonomihanterare
GenericName[ug]=خۇسۇسىي ئىقتىساد باشقۇرغۇچ
GenericName[uk]=Особисте керування фінансами
GenericName[x-test]=xxPersonal Finance Managerxx

MimeType=application/x-knipptasch;
Categories=Qt;KDE;Finance;Office;
